---
import Layout from '@/layouts/Layout.astro'
import { ServiciosCarruselReact2 } from '@/components/ServiciosCarruselReact2.jsx'

const cielo2 = '/img/cielo2.jpg'
const nave = '/img/nave.jpg'
const lunes = '/img/lunes.jpg'
const nav = '/img/nav.jpg'

const naveThumb = '/img/cielo2.jpg'
const naveThumb1 = '/img/nave.jpg'
const naveThumb2 = '/img/lunes.jpg'
const naveThumb3 = '/img/nav.jpg'
const textos = [
	'Empresa fundada en 1995, avalada con una gran experiencia en el sector del cartón.',
	'Auxiliar Manipuladora del Cartón va evolucionando para cubrir las necesidades de sus clientes',
	'Todas las personas que trabajan directa o indirectamente tienen el espíritu de aceptar los retos para adaptarse aun mercado más competitivo y exigente.',
	'Tras la incorporación de nuevas generaciones seguiremos avanzando juntos.',
]
---




<Layout title='Sobre nosotros'>
	<main class='flex flex-col gap-4'>
		<div
			class='barra  leading-8 text-white font-bold text-lg flex justify-center items-center w-full'
		>
			<h2>Políticas de Empresa</h2>
			<a target="_blank" href="/Plan de Movilidad.pdf">
				<img src="/plan de movilidad.png" alt="portada plan de movilidad">
			</a>
			<a target="_blank" href="/Plan de Movilidad.pdf">
				<img src="/plan de movilidad.png" alt="portada plan de movilidad">
			</a>
			<a target="_blank" href="/Plan de Movilidad.pdf">
				<img src="/plan de movilidad.png" alt="portada plan de movilidad">
			</a>
			<section class='flex flex-col md:flex-row pr-12'>
				
			</section>
		</div>
		<div
			class='bodyIndex rounded-lg flex overflow-y-auto justify-center items-center'
		>
			<ServiciosCarruselReact2
				client:load
				cielo2={cielo2}
				nave={nave}
				lunes={lunes}
				nav={nav}
				video={true}
				naveThumb1={naveThumb1}
				naveThumb={naveThumb}
				naveThumb3={naveThumb3}
				naveThumb2={naveThumb2}
				textos={textos}
			/>
		</div>
	</main>
</Layout>

<style>
	.barra{
		display: flex;
		gap: 1rem;
		background-color: rgb(156 163 175);
		color: white;
		font-weight: bold;
	}
	.barra h2{
		font-size: 1.5rem;
		color: black;
	}
	.barra a{
		padding: 0.5rem;
		width: 80px;
		height: 80px;
	}
	.barra img{
		border-radius: 10%;
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 2px 2px 9px 1px rgb(0 0 0 / 50%);
		border: 2px solid white;
	}
	.barra img:hover{
		transform: translateY(-3px) scale(1.05);
		transition: transform 0.5s;
	}
</style>


